<div class="w-100 ps-5">
    <div class="row w-100 m-auto mt-2">
        <h3 class="text-start">Usuários</h3>
        <table class="table table-striped-columns">
            <tr class="table-secondary">
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Cadastro em</th>
            </tr>
            {{#each usuarios}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{nome}}</td>
                    <td>{{email}}</td>
                    <td>{{formatDate createdAt}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>