<div class="w-100">
    <div class="row m-auto mt-2">
        <div class="col">
            <img src="/img/finance-1.jpeg" alt="logo finanças" id="home-img">
        </div>
        <div class="col">
            <div class="card align-middle">
                <div class="card-body">
                    <h5 class="card-title">Despesas</h5>
                    <p class="card-text">R$ 1000</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Receitas</h5>
                    <p class="card-text">R$ 2500</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Balanço</h5>
                    <p class="card-text">R$ 1500</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        Home
    </div>
</div>