<div class="nav">
    <li class="nav-item p-2 bg-secondary w-100">
        <a class="icon-link-hover no-decoration text-light" href="/">
            <i class="bi bi-house" aria-hidden="true"></i> Overview
        </a>
    </li>
    <li class="nav-item p-2 w-100">
        <a class="icon-link-hover no-decoration" href="/despesa">
            <i class="bi bi-receipt" aria-hidden="true"></i>  Despesas
        </a>
    </li>
    <li class="nav-item p-2 w-100">
        <a class="icon-link-hover no-decoration" href="/receita">
            <i class="bi bi-graph-up-arrow" aria-hidden="true"></i>  Receita
        </a>
    </li>
    <li class="nav-item p-2 w-100">
        <a class="icon-link-hover no-decoration" href="/usuario/relatorio">
            <i class="bi bi-file-earmark-bar-graph" aria-hidden="true"></i>  Relatorio
        </a>
    </li>
    <li class="nav-item p-2 w-100">
        <a class="icon-link-hover no-decoration" href="/categoria">
            <i class="bi bi-tags" aria-hidden="true"></i>  Categorias
        </a>
    </li>
    <li class="nav-item p-2 w-100">
        <a class="icon-link-hover no-decoration" href="/usuario">
            <i class="bi bi-person-circle" aria-hidden="true"></i>  Conta
        </a>
    </li>
</div>