<div class="row pt-3 w-75 m-auto">
    <div class="col">
        <h4>Olá Nome!{{user}}</h4>
    </div>
    
    <div class="col text-start">
        <h5>Seus dados:</h5>
        <p>Nome completo</p>
        <p>exemplo@gmail.com</p>
        <a class="btn btn-secondary mb-3">alterar dados</a>
        <a class="btn btn-warning mb-3">alterar senha</a>
    </div>
</div>