<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controle Financeiro</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>msg}}
    <div class="container m-alto a-center">
        <div class="w-50 bg-secondary-subtle outline shadow">
            <div class="row m-0">
                <div class="col bg-gradient text-center p-3 pt-5 outline-left">
                    <h1 class="text-light">Bem vindo(a) de volta</h1>
                    <p>
                        Assuma o controle das suas finanças hoje. Faça login para
                        alcançar sua liberdade financeira!
                    </p>
                </div>
                <div class="col p-5 outline-right">
                    <h3 class="text-center text-dark-subtle">Login</h3>
                    <form method="post" action="logar">
                        <fieldset>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" name="email" placeholder="exemplo@gmail.com" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Senha</label>
                                <input type="password" class="form-control" name="password" required>
                            </div>
                            <div class="text-center mb-3"><button type="submit" class="btn btn-primary">Entrar</button></div>
                            <div id="not-registred" class="form-text">Não possui conta?
                                <a href="/usuario/cadastro">sign-in</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>